body {
    font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
}
/* ---------------
       header
   --------------- */
#header .container {
    max-width: 1200px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.navbar_left {
    display: flex;
    align-items: center;
}
.navbar_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    margin-right: 0;
    height: 64px;
}
.button {
    margin-bottom: unset;
    border: 1px solid #dbdbdb;
    padding: 8px;
    background: #fff;
    color: #363636;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 10px;
}
a.button.joinBtn {
    background: #ff7867;
    color: #fff;
}
.navbar_item {
    margin: 15px 20px;
}
.navbar_item a {
    color: #4a4a4a;
}
.mypageIcon img {
    width: 24px;
    height: 22px;
    margin-top: 5px;
    opacity: 0.7;
}
.headerLogo img {
    width: 100px;
    height: 20px;
}
.navbar_item.mypageBtn {
    display: flex;
    align-items: center;
}
span.mypageIcon {
    margin-right: 20px;
}
.top_header {
    display: flex;
}
.top_logo img {
    width: 20px;
    border-radius: 50%;
    margin-left: 20px;
}
.top_content {
    margin-left: 10px;
    font-weight: 600;
}
.top_header {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}